<launch>
  <arg name="model" default="$(find abb_irb_120)/urdf/abb_irb_120.urdf"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />


  <include file="$(find abb_irb_120)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
               file="$(find abb_irb_120)/config/abb_irb_120.yaml"
               ns="abb_joint_state_controller" />
  <rosparam command="load"
               file="$(find abb_irb_120)/config/abb_links.yaml"
               ns="abb_irb_120_control" />
  
  <node name="abb_controller_spawner" pkg="controller_manager" type="spawner"
                  args="abb_joint_state_controller
                        abb_irb_120_control"/>


</launch>
